<div class="account-container">
  <label>My account</label>
  <div class="account-content">
    <form class="form1">
      <div class="form1-logo">
        <div class="circle"></div>
      </div>
      <div class="form1-content">
        <div class="form-header">Personal data</div>
        <div class="form-row">First name:<input /></div>
        <div class="form-row">Last name:<input /></div>
        <div class="form-row">Phone number:<input type="text" /></div>
        <div class="form-row">Email address:<input type="text" /></div>
      </div>
    </form>
    <button>Save changes</button>
    <form class="form2">
      <div class="form2-content">
        <div class="form-header">Change password</div>
        <div class="form-row">Current password:<input /></div>
        <div class="form-row">New password:<input /></div>
        <div class="form-row">Confirm password:<input type="text" /></div>
      </div>
    </form>
  </div>
</div>
