<div class="main-container">
  <div class="box-container">
    <form>
      <div class="firsttwo">
        <div class="firstname">
          First name
          <input />
        </div>
        <div class="lastname">
          Last name
          <input />
        </div>
      </div>
      Email address<input />
      Password<input type="password" />
      Confirm Password<input type="password" />
    </form>
    <button routerLink="/" routerLinkActive="active">Create account</button>
  </div>
</div>
