<div class="box-container">
  <div class="container">
    <div class="item">
      <p id="st">Survey title</p>
    </div>
    <form>
      <label class="grid-item">1. Question one</label>

      <textarea
        type="text"
        placeholder="Type your answer here..."
        matInput></textarea>

      <label class="grid-item">2. Question two</label>

        <textarea
          type="text"
          placeholder="Type your answer here..."
          matInput
        ></textarea>

      <label class="grid-item">3. Question three</label>

      <textarea
          type="text"
          placeholder="Type your answer here..."
          matInput
        ></textarea>
      <label class="grid-item">4. Question four</label>

      <textarea
      type="text"
      placeholder="Type your answer here..."
      matInput
    ></textarea>

      <label class="grid-item">5. Question five</label>

      <textarea
      type="text"
      placeholder="Type your answer here..."
      matInput
    ></textarea>

      <label class="grid-item">6. Question six</label>

      <textarea
      type="text"
      placeholder="Type your answer here..."
      matInput
    ></textarea>

    </form>
    <button>Submit</button>
  </div>
</div>
