
<div class="container">
  <div class="form-container">
<form #form="ngForm" [formGroup]="loginFormGroup" (ngSubmit)="onSubmitForm()">
  <div class="email">
    <input formControlName="email" Email>
  </div>
  <div class="email">
    <input type="password" formControlName="password" Password>
  </div>
  <!--  <div class="checkbox-container">-->
  <!--    -->
  <!--    <input type="checkbox"-->
  <!--           formControlName="reminder"> Remind me-->
  <!--  </div>-->
  <div class="button">
    <button class="submit-button"
            type="submit"
            [disabled]="loginFormGroup.invalid">Submit
    </button>
  </div>
</form>
</div>
</div>
